/.bundle
/log/*
/tmp/*
/public/assets
!/log/.keep
!/tmp/.keep
/node_modules
/yarn-error.log
.byebug_history
/db/*.sqlite3
/db/*.sqlite3-journal
config/initializers/secret_token.rb
/config/database.yml
config/cloudinary.yml
public/uploads/
