<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% end %>

<div>
  <p>Tweets <%= @user.tweets.count %></p>
<div>
<div>
  <% @user.tweets.each do |tweet| %>
  <strong><%= @user.name %></strong>
  <p>
    <%= tweet.text %>
  </p>
  <% end %>
</div>
