
<!-- navbar -->
<nav>
  <div class="nav-wrapper white">
    <span class="brand-logo center blue-text text-darken-2"><i class="fa fa-twitter fa-lg"></i></span>
  </div>
</nav>

  <div class="image">
    <div class="container ">
      <div class="row home_header">
        <div class="col s8 offset-s2">
          <h1>Follow your interests</h1>
          <p>Instant updates from your friends, industry experts, favorite celebrities, and what's happening around the world.</p>
          <hr><br>

            <%= button_to "Sing in", new_user_session_path, :class => "btn waves-effect waves-light light-blue accent-2" %>
        </div>
      </div>
    </div>
  </div>
