
<!-- navbar -->
<nav>
  <div class="nav-wrapper white">
    <span class="brand-logo center blue-text text-darken-2"><i class="fa fa-twitter fa-lg"></i></span>
  </div>
</nav>

  <div class="home_image">
    <div class="container header">
      <div class="row home_header">
        <div class="col s8 offset-s2 button">
          <h1>New to Twitter?</h1>
          <p>Sign up now to get your own personalized timeline!</p>
          <hr><br>
          <ul>
            <li><%= button_to "Sing in", new_user_session_path, :class => "btn waves-effect waves-light blue darken-3" %></li>
            <li><%= button_to "Sing up", new_user_registration_path, :class => "btn waves-effect waves-light blue darken-3" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
