@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize";
@import "material_icons";
@import "login";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
  background-color: #90caf9;
}

nav ul a {

  color: #1976D2;
}

.image {
  background-image: url("header.jpg");
  background-repeat: no-repeat ;
  height: 93vh;
  background-position: center;
}


.row {
  padding-top: 30px;
}

.home_header h1 {
  padding-top: 130px;
  color: #fff;
  text-align: center;
  font-size: 80px;

}

.home_header p {
  text-align: center;
  font-size: 20px;
  color: #fff;

}

hr {
    max-width: 80px;
    border-color: #1976D2;
}

/* Login styling */


.login {
  width: 500px;
  margin: 80px auto;
  font-size: 16px;
  background-color: #ffffff;
  padding: 15px;
}

.singup {
  width: 500px;
  margin: 80px auto;
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;

}


.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 2px;
  text-align: center;
}
.singup input,
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.singup input,
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
