@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize";
@import "material_icons";
@import "login";
@import "home";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
    background: #90caf9;
    background: -webkit-linear-gradient(#90caf9, #fff);
    background: -o-linear-gradient(#90caf9, #fff);
    background: -moz-linear-gradient(#90caf9, #fff);
    background: linear-gradient(#90caf9, #fff); 
    background-repeat: no-repeat;
}

nav ul a {
  color: #1976D2;
}

.row {
  padding-top: 30px;
}

hr {
    max-width: 80px;
    border-color: #1976D2;
}
