@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize";
@import "material_icons";
@import "login";
@import "home";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
    background: #90caf9;
    background: -webkit-linear-gradient(#90caf9, #fff);
    background: -o-linear-gradient(#90caf9, #fff);
    background: -moz-linear-gradient(#90caf9, #fff);
    background: linear-gradient(#90caf9, #fff);
    background-repeat: no-repeat;
}

nav ul a {
  color: #1976D2;
}

.header hr {
    max-width: 80px;
    border-color: #1976D2;
}


.count_tweet p{
  text-align: center;
  font-weight: bold;

}

.left-bar {
  height: 60vh;

  .user-details li{
    padding-top: 60px;
    display: block;
    text-align: center;
    color: #fff;
  }
}

.header-tweet {
  background: image-url("header_tweet.jpg");
  height: 60vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tweet {
  padding: 50px;

}

.tweet p{
  

}
