.home_image {
    padding-top: 130px;
    height: 100vh;
    background: image-url("header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.home_header h1 {
    color: #fff;
    text-align: center;
    font-size: 80px;
  }

  div.container.header {
    background-color: #e3f2fd;
    opacity: 0.8;
    filter: alpha(opacity=60);
    text-align: center;
  }

  div.container.header p{
    color: #000;
    font-size: 20px;
  }

  div.container.header h1{
    color: #000;
  }

  .col.button {
    padding-bottom: 40px;
  }

li {
  display: inline-block;
}
