<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav>
      <div class="nav-wrapper white">
        <a href="#" class="brand-logo center blue-text text-darken-2"><i class="fa fa-twitter fa-lg"></i></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
